@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.on,
.off {
  border: 1px solid #908f8f;
  border-radius: 10px;
  padding: 10px;
  margin: 4px;
  text-align: center;
}
.off {
  background-color: #f5f5f5;
  color: #5c48d3;
}
.on {
  background-color: #5c48d3;
  color: white;
}
.readyText {
  color: white;
  border: none;
  border-radius: 10px;
  width: 160px;
  height: 60px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notReady {
  background-color: tomato;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: not-allowed;
  position: relative;
}

.ready {
  background-color: #93cd6c;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
}
